<main>
  <app-header [numItems]="numItems"></app-header>

  <section class="container">
    <app-product-list [products]="products"
                      (onRemoveProduct)="removeProduct($event)"
                      (onChangeQuantity)="updateProductQuantity($event)">

    </app-product-list>
  </section>

  <section class="container">
    <app-promo-code (onSubmitPromo)="handleSubmit($event)"></app-promo-code>
    <app-cart-summary [subTotal]="subTotal"
                      [discountPercent]="discountPercent"
                      [discount]="discount"
                      [taxPercent]="taxPercent"
                      [tax]="tax"
                      [totalPrice]="totalPrice">

    </app-cart-summary>
  </section>
</main>
